.accueil-background {
  background: linear-gradient(70deg, #f9f9f9 50%, #1fa78f 50%);
  height: 100vh;
  position: relative;
}
.accueil-container {
  padding-top: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  width: 35%;
}

.accueil-container > div {
  opacity: 0;
  animation: fadeInUp 1s ease-out 0.2s forwards;
}
.accueil-container > h1 {
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInUp 1s ease-out 0.5s forwards;
}
.accueil-container > h2 {
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInUp 1s ease-out 0.8s forwards;
}
.accueil-container > p {
  opacity: 0;
  animation: fadeInUp 1s ease-out 1.1s forwards;
}

.accueil-container > a {
  opacity: 0;
  animation: fadeInUp 1s ease-out 1.3s forwards;
}

#photoprofil {
  position: absolute;
  bottom: 0;
  left: 45%;
  opacity: 0;
  filter: drop-shadow(-5px 0 10px black);
  height: 70%;
  aspect-ratio: 0.76;
  transition: left 2s;
  animation: comeIn 1.3s ease-out 1.8s forwards;
}

#photoprofil:hover {
  left: 46%;
  transition: left 1s;
}

@keyframes comeIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.accueil-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 75px;
  font-size: 20px;
  font-weight: bold;
  color: #f9f9f9;
  text-decoration: none;
  background-color: #1fa78f;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.accueil-container a:hover {
  box-shadow: 0 0 10px #1fa78f;
}

/*@media (max-width: 1024px) {
    .home-container {
    }
  }*/
