#parcours {
  padding-top: 100px;
  margin-bottom: 200px;
  position: relative;
  min-height: 4600px;
}

.fil-ariane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;

  padding: 10px;
  border-radius: 0 0 5px 5px;

  transition: background-color 1s;
}
.steps {
  display: flex;
  justify-content: space-around;
  max-width: 768px;
  width: 100%;
}

.fix-fil-ariane {
  position: fixed;
  background-color: #f9f9f9;
  transition: background-color 1s;
  z-index: 1;
  opacity: 90%;
}

.step {
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.step img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: contain;
  border: 5px solid #949393;
  transition: border 0.7s;
}

.step:not(:last-child):after {
  content: '';
  height: 5px;
  width: 64px;
  top: 50%;
  background-color: #949393;
  position: absolute;
  transition: background-color 0.7s;
}

.step.active img {
  border: 5px solid #1fa78f;
  transition: border 0.7s;
}

.step.progress-0:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 0%, #949393 0%);
  transition: background-image 0.7s;
}

.step.progress-10:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 10%, #949393 10%);
  transition: background-image 0.7s;
}
.step.progress-20:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 20%, #949393 20%);
  transition: background-image 0.7s;
}
.step.progress-30:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 30%, #949393 30%);
  transition: background-image 0.7s;
}
.step.progress-40:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 40%, #949393 40%);
  transition: background-image 0.7s;
}
.step.progress-50:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 50%, #949393 50%);
  transition: background-image 0.7s;
}
.step.progress-60:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 60%, #949393 60%);
  transition: background-image 0.7s;
}
.step.progress-70:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 70%, #949393 70%);
  transition: background-image 0.7s;
}
.step.progress-80:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 80%, #949393 80%);
}
.step.progress-90:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 90%, #949393 90%);
}
.step.progress-100:not(:last-child)::after {
  background-image: linear-gradient(155deg, #1fa78f 100%, #949393 100%);
  transition: background-image 0.7s;
}

#mon-cv {
  width: 50px;
  position: relative;
}
#mon-cv img {
  width: 50px;
}
.tooltiptext {
  visibility: hidden;
}
/* Tooltip text */
#mon-cv .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 100px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}

/* Show the tooltip text when you mouse over the tooltip container */
#mon-cv:hover .tooltiptext {
  visibility: visible;
}

.steps-informations {
  padding: 0 150px 0 150px;
}

.step-info {
  margin-top: 200px;
  min-height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.step-info-left {
  height: 60vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.step-info-left-top {
  height: 45%;
}

.step-info-left-top span {
  font-size: 20px;
}

.step-logo {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 5px;
  object-fit: contain;
}

.step-info-left-bottom {
  height: 45%;
  width: 80%;
  font-size: 24px;
}

.step-info-right {
  width: 45%;

  padding: 20px 50px;
  background-color: #f9f9f9;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 25%);
}

.step-info {
  opacity: 0;
  transition: opacity 1s;
}

.step-info.active {
  opacity: 1;
  transition: opacity 0.5s;
}

@media (max-width: 1024px) {
  #parcours {
    display: flex;
  }

  .fil-ariane {
    top: 70px;
    padding-left: 70px;
  }
  #mon-cv {
    display: none;
  }

  .steps-informations {
    padding: 0 70px 0 70px;
  }

  .step-info {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .step-info-left {
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 450px;
    padding-bottom: 30px;
  }

  .step-info-left-top {
    width: 80%;
  }

  .step-info-left-bottom {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: auto;
  }

  .step-info-right {
    width: 100%;
  }

  .step-info-right {
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .step:not(:last-child):after {
    width: 7%;
  }
}
