#services {
  padding-top: 200px;
  position: relative;
  min-height: 100vh;
}

#services .img-container {
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
}

#services .img-container img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

#services .text-container {
  position: absolute;
  left: 50%;
  width: 45%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  #services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    position: static;
    width: 100%;
  }
  #services .img-container {
    position: static;
    transform: translateY(0);
  }

  #services .text-container {
    position: static;
    transform: translateY(0);
    width: 80%;
  }
}
