@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto'),
    url('./styles/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto Regular', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-title {
  color: #20a18c;
  font-size: 36px;
  font-weight: 700;
}

h1 {
  color: black;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: black;
  font-size: 24px;
  font-weight: 700;
}
