@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto'),
    url('./styles/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*outline: 1px solid #f00 !important;*/
}

body {
  font-family: 'Roboto Regular', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-title {
  color: #20a18c;
  font-size: min(3vw, 50px);
  font-weight: 700;
}

.white-title {
  color: white;
  font-size: min(4vw, 28px);
  font-weight: 700;
}

h1 {
  color: black;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

h3 {
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0;
}

h4 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
}
